# CRUD OPERATION

In [ ]:
import mysql.connector as sql

connection = sql.connect(
    host = 'localhost',
    user = 'root',
    password = 'abhi15'
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A479A5E900>

In [2]:
cursor = connection.cursor()

cursor.execute('CREATE DATABASE student')

In [3]:
cursor.execute('SHOW DATABASES')

In [4]:
for db in cursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [5]:
connection = sql.connect(
    host = 'localhost',
    user = 'root',
    password = 'abhi15',
    database = 'student'
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001A479C42210>

In [7]:
cursor = connection.cursor()

In [8]:
cursor.execute('CREATE TABLE tbl_stud_detail(stud_id INT AUTO_INCREMENT PRIMARY KEY, stud_name VARCHAR(255), subject VARCHAR(55))')

In [9]:
cursor.execute('SHOW TABLES')

In [10]:
for tb in cursor:
    print (tb)

('tbl_stud_detail',)

In [13]:
query = 'INSERT INTO tbl_stud_detail(stud_name, subject) VALUES(%s,%s)'
value = ('Jhon', 'Stats')

cursor.execute(query, value)

print("Row Inserted", cursor.lastrowid)

Row Inserted 1

### Select

In [14]:
cursor.execute('SELECT * FROM tbl_stud_detail')

In [15]:
cursor.fetchall()

[(1, 'Jhon', 'Stats')]

### Multiple values

In [23]:
query = 'INSERT INTO tbl_stud_detail(stud_name, subject) VALUES(%s,%s)'
value = [
    ('Alice', 'Mathematics'),
    ('Bob', 'Computer Science'),
    ('Emma', 'Biology'),
    ('Raj', 'History')
]

cursor.executemany(query,value)

print("Row Inserted", cursor.lastrowid)

Row Inserted 4

## Selecting multiple

In [30]:
cursor.execute('SELECT * FROM tbl_stud_detail')

In [29]:
cursor.fetchall()

[(1, 'Jhon', 'Stats'),
 (2, 'Jhon', 'Stats'),
 (3, 'Jhon', 'Stats'),
 (4, 'Alice', 'Mathematics'),
 (5, 'Bob', 'Computer Science'),
 (6, 'Emma', 'Biology'),
 (7, 'Raj', 'History')]

In [31]:
for item in cursor:
    print(item)

(1, 'Jhon', 'Stats')
(2, 'Jhon', 'Stats')
(3, 'Jhon', 'Stats')
(4, 'Alice', 'Mathematics')
(5, 'Bob', 'Computer Science')
(6, 'Emma', 'Biology')
(7, 'Raj', 'History')

### Drop table

In [32]:
cursor.execute('DROP TABLE tbl_stud_detail')